body{
  margin: 0;
  padding: 0;
}


.grid {
    display: flex;
    justify-content: space-between;
}

.cerchio {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-top: 30px;
    margin-left: 30px;
  }

  .cerca {
    width: 200px; 
    height: 100px; 
    align-self: flex-start;
    border-radius: 15px; 
    border: 2px solid darkblue; 
    margin-top: 30px;
    margin-right: 30px;
  }

  .progetto{
    width: 800px;
    height: 125px;
    border-radius: 15px; 
    border: 2px solid darkblue;
    position: relative;
  }

  .bold{
    font-weight: bold;
  }

.margini-grigliaP{
    margin-top: 30px;
}

  .margini-Nprogetto{
    margin-top: 5px;
    margin-left: 10px;
  }

  .dettagli {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
}

.margini-d-dettagli {
    margin-right: 50px;
}

.barra{
  margin-top: 35px;
  margin-left: 10px;
  width: 480px;
}

.progress{
  width: 480px;
}

.progress-bar{
  background-color: orange !important;
}

.dettagli p {
    margin-bottom: 5px;
}

  .img-ricerca{
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }

  .accentrato{
    text-align: center !important;
  }

  .no-dec{
    text-decoration: none;
  }

  .text-black{
    color: black !important;
  }

  .text_bianco{
    color: white !important;
  }

  .block{
    display: block;
  }

.back-blue{
  background-color: darkblue !important;
}

.puntini {
  display: inline;
  margin-top:-60px;
  margin-left: 10px;
}
.puntini button{
  margin: 0;
  padding: 0;
  border-style: none;
  background: none;
  
}

.popUp_membri{
  position: absolute;
  left: 43rem;
  bottom: 4.7rem;
  padding: .6rem;
  background: #cacaca;
  border-radius: 1rem;

}

.progetto{
  margin-bottom: 2rem;
}