.back-blue {
    background-color:darkblue;
}

.text_bianco{
    color: white !important;
}

.titolo {
    text-align: center;
}

.progetto{
    width: 800px;
    height: 125px;
    border-radius: 15px; 
    border: 2px solid darkblue;
}

.bold{
    font-weight: bold;
}

.margini-grigliaP{
    margin-top: 30px;
}

.margini-Ntask{
    margin-top: 5px;
    margin-left: 10px;
}

.dettagli {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
}

.margini-d-dettagli {
    margin-right: 50px;
}

.barra{
  margin-top: 35px;
  margin-left: 10px;
  width: 480px;
}

.dettagli p {
    margin-bottom: 5px;
}

.accentrato{
    text-align: center !important;
}

.no-dec{
    text-decoration: none;
}

.text-black{
    color: black !important;
}

.block{
    display: block;
}

.grid {
    display: flex;
    justify-content: center;
}

.partecipanti {
    margin-left: 200px;
    margin-top: -50px;
}

.livello {
    display:flex;
    margin-top: -70px;
    margin-bottom: 90px;
    margin-right: 130px;
    margin-left: -155px;
}

.more {
    margin-left:175px;
    margin-top:-71px;
}

nav{
    padding: 0 !important;
  }